output {
        elasticsearch {
            hosts    => "{{ hostvars[groups.elastic[0]].ansible_host }}:9200"
            index    => "nginx-%{+YYYY.MM.dd}"
        }
	#stdout { codec => rubydebug }
}