filebeat.inputs:
- type: log
  enabled: true
  paths:
    - /var/log/*.log
  scan_frequency: 5s

output.logstash:
  hosts: ["{{hostvars[groups.logz1[0]].ansible_host}}:5044"]

xpack.monitoring:
  enabled: true
  elasticsearch:
    hosts: ["{{hostvars[groups.elasticz1[0]].ansible_host}}:5044","{{hostvars[groups.elasticz1[1]].ansible_host}}:5044","{{hostvars[groups.elasticz1[2]].ansible_host}}:5044"]
