filebeat.inputs:
- type: log
  enabled: true
  paths:
    - /var/log/*.log
  scan_frequency: 5s

output.logstash:
  hosts: ["{{hostvars[groups.log[0]].ansible_host}}:5044",{{hostvars[groups.log[1]].ansible_host}}:5044]

xpack.monitoring:
  enabled: true
  elasticsearch:
    hosts: ["{{hostvars[groups.elastic[0]].ansible_host}}:5044","{{hostvars[groups.elastic[1]].ansible_host}}:5044","{{hostvars[groups.elastic[2]].ansible_host}}:5044"]
