
path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch

cluster.name: ec2sev
node.name: {{inventory_hostname}}
node.master: true
node.data: true
node.ingest: true
discovery.zen.hosts_provider: ec2
discovery.zen.ping.unicast.hosts: [{{ hostvars[groups.elastic[0]].ansible_host }},{{ hostvars[groups.elastic[1]].ansible_host }},{{ hostvars[groups.elastic[2]].ansible_host }}]
network.host: [{{ ansible_default_ipv4.address }}]
