# Sample Logstash configuration for creating a simple
# Beats -> Logstash -> Elasticsearch pipeline.

input {
  beats {
    port => 5044
  }
}

output {
  elasticsearch {
    hosts => ["{{ hostvars[groups.elasticz1[0]].ansible_host }}:9200","{{ hostvars[groups.elasticz1[1]].ansible_host }}:9200","{{ hostvars[groups.elasticz1[2]].ansible_host }}:9200"]
    index => "%{[@metadata][beat]}-%{[@metadata][beat.hostname]}-%{+YYYY.MM.dd}"
    #user => "elastic"
    #password => "changeme"
  }
}
